<div id="square">

    <div id="leftsquare">
        <center>
            <h2>Välkommen till denna AdminPortal</h2> <br />
            <p>Som Admin kan du här:</p> <br>
            <p>ta bort, redigera och lägga till information</p> <br />
            <p>Lycka till!</p>
        </center>
    </div>

    <div id="rightsquare">
        <img src="~/images/fae0e62822c6ee6be0a463937c2b4bc9.jpg" />
    </div>

</div>

<style>
    #square { width: 95%; height: 490px; margin: 0 auto; }
    #leftsquare { width: 50%; float: left; height: 100%; }
    #rightsquare { width: 50%; float: right; height: 100%; }
</style>
