<div id="header">
    <center>
        <h1>AdminPortal</h1> <br />
        <ul id="hbar">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Portal">Portal</a></li>
        </ul>
    </center>
</div>

<style>
    #hbar { padding: 0; }
    #hbar li { display: inline; }
    #hbar a { padding: 10px 20px; border-radius: 4px 4px 0 0;}
</style>

<script>
    if()
</script>